
%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          <!-- #TODO прописать линки -->
          %li
            = link_to t('.home'), root_path, class: 'nav-link'
          %li
            = link_to t('.shop'), projects_path, class: 'nav-link'
          %li
            = link_to t('.order'), '', class: 'nav-link'
          %li
            = link_to t('.settings'), '', class: 'nav-link'
      .col-sm-3
        %p.general-nav-mail budka52@bk.ru
        %p.general-nav-number +7(906) 368-29-69
        %ul.list-inline.general-align
          %li
            %a.nav-link{href: "#"} #Todo
              %i.fa.fa-facebook{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"} #Todo
              %i.fa.fa-twitter{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"} #Todo
              %i.fa.fa-google-plus{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"} #Todo
              %i.fa.fa-instagram{'aria-hidden': "true"}
