.container
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    %a.navbar-brand{href: "#"} Панель навигации
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Переключатель навигации", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link{href: "#"}
            Главная
            %span.sr-only (текущая)
        %li.nav-item
          %a.nav-link{href: "#"} Ссылка
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            Выпадающий список
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{href: "#"} Действие
            %a.dropdown-item{href: "#"} Другое действие
            .dropdown-divider
            %a.dropdown-item{href: "#"} Что-то еще здесь
        %li.nav-item
          %a.nav-link.disabled{"aria-disabled" => "true", href: "#", tabindex: "-1"} Отключенный
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-2{"aria-label" => "Поиск", placeholder: "Поиск", type: "search"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{type: "submit"} Поиск
