- set_meta_tags title: ['Политика конфиденциальности сайта diy-plans.ru | DIY Plans'], description: "Договор оферты и правила принятия пожертвований.", index: false

%h1= t('pages.donate_police.title')

%h2 Терминология
%ul Донатер - человек, совершивший пожертвование
%ul Донат-услуга - бонус, выданный человеку в благодарность за пожертвование


%h2 Договор оферты
%p
  %ul Данный договор является публичной офертой донат-услуг сайта diy-plans.ru
  %ul При осуществлении пожертвования вы автоматически принимаете #{link_to 'политику конфиденциальности', privacy_policy_path} сервиса diy-plans.ru
  %ul Пожетвование осуществляется путем перевода на электронный кошелек ЯндексДеньги при нажатии кнопки 'Оплатить' в Корзине

%p
  %ul При осуществлении финансовой поддержки проекта (пожертвования), в благодарность вы получаете бонус, соответствующий условиям той или иной донат-услуги.
  %ul Если деятельность человека, осуществившего пожертвование, нарушает законы Российской Федерации, вызывает подозрение администрации сервера, банков, сервиса diy-plans.ru, платежных систем, не соответствует правилам сервера и т.п, донатер обязуется предоставить все необходимые и подтверждённые документы о совершённом пожертвовании (чек, квитанцию и т.д).
  %ul В случае, если чек не был предоставлен, администрация сервера имеет право изменить срок действия донат-услуги, отключить её или удалить, а также выдать блокировку донатеру.
  %ul Человек, совершивший пожертвование, признаёт, что количество и объем бонуса регулируется администрацией diy-plans.ru.
  %ul Информация о соответствующем бонусе доступна донатеру на сервере в любой момент в реальном времени в #{ link_to 'Личном кабинете', my_orders_path}
  %ul Команда diy-plans.ru не несёт никакой ответственности перед донатером за упущенную выгоду донатера и иных лиц.
  %ul Команда diy-plans.ru может в любой момент, без предупреждения приостановить действие донат-услуги, удалить её, изменить.
