.container
  %p Если у вас возникли какие-либо вопросы, вы можете связаться с нами через #{link_to 'форму обратной связи', new_feedback_url} или написать письмо на почту #{ mail_to 'budka52@bk.ru', 'budka52@bk.ru', subject: "У меня есть вопрос по заказу ##{@order.id}"}
