.container
  -# TODO, добавить ссылку на форму обратной связи
  %p Если у вас возникли какие-либо вопросы, вы можете связаться с нами через форму обратной связи или написать письмо на почту
  %p.general-nav-mail= mail_to 'budka52@bk.ru', 'budka52@bk.ru', subject: "У меня есть вопрос по заказу ##{@order.id}"
