
@import "~@activeadmin/activeadmin/src/scss/mixins";
@import "~@activeadmin/activeadmin/src/scss/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.status_tag {
  &.newest { background: #FF0000; }
  &.approved  { background: #FF9900; }
  &.published { background: #08A510; }
  &.yes { background: #0058fc; }
  &.no { background: #d3d3d3; }
}

.bool-value {
  font-size: 16px;

  &.true-value {
    color: #08A510;
  }

  &.false-value {
    color: #FF0000;
  }
}
