body {
}

.flash_wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 350px;
}
.strikethrough {
    position: relative;
    display: inline-block;
}

.strikethrough:before {
    border-bottom: 3px solid rgba(250, 0, 0, 0.685);
    position: absolute;
    content: "";
    width: 100%;
    height: 60%;
    transform: rotate(-7deg);
}
$pending-color: #FF9900;
$rejected-color: #FF0000;
$approved-color: #08A510;

.status_tag {
  &.pending { background: $pending-color; }
  &.rejected { background: $rejected-color; }
  &.approved { background: $approved-color; }
}
