    %main.container
      .mb-30
        .form-group.radio
          %label.radio-label
            %input.radio-input{type: "radio", hidden: "true"}
            %span.radio-icon
            %span.radio-text Delivery Next Day!
        .form-group.checkbox
          %label.checkbox-label
            %input.checkbox-input{type: "checkbox", hidden: "true"}
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text Use Billing Adress
      .mb-30
        %button.btn.btn-default Log in
        %button.btn.btn-primary Log in
        %button.btn.disabled Log in
      .mb-30
        .input-group.general-position
          %a.input-link{href: "#"}
            %i.fa.fa-minus.line-height-40
          %input.form-control.quantity-input{type: "text"}
          %a.input-link{href: "#"}
            %i.fa.fa-plus.line-height-40
      .mb-30
        .form-group.has-error
          %label.control-label.input-label{for: "firstName"} First Name
          %input#firstName.form-control{name:"fname", type: "text", placeholder: "First Name"}
          %span.help-block Please enter your first name
        .form-group
          %label.control-label.input-label{for: "lastName"} Last Name
          %input#lastName.form-control{name:"lname", type: "text", placeholder: "Last Name"}
      .mb-30
        .dropdowns
          %p.lead.small.mb-10 Sort by
          .dropdown.width-240
            %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
              Newest first
              %i.fa.fa-angle-down.dropdown-icon.pull-right
            %ul.dropdown-menu
              %li
                %a{href: "#"} Newest first
              %li
                %a{href: "#"} Popular first
              %li
                %a{href: "#"} Price: Low to hight
              %li
                %a{href: "#"} Price: Low to hight
      .row
        .col-sm-4
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              %img.img-shadow.general-thumbnail-img{src: "https://d31wxntiwn0x96.cloudfront.net/rzgade/productimages/1276.jpg?width=400&height=400&etag=%22a2ebd1488b087bf0e6db43ee8bae0634%22", alt: "design-book"}
              .thumb-hover
                .general-thumb-link-wrap
                  %a.thumb-hover-link{href: "#"}
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  %a.thumb-hover-link{href: "#"}
                    %i.fa.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.title Android Programming for Beginners
            %p.font-16.in-gold-500 €28.50
            %span.divider-sm
            %p.lead.small Bass Jobsen, David Cochran, Ian Whitley
        .col-sm-4
          .general-thumb-wrap
            .thumbnail.general-thumbnail.disabled
              %img.img-shadow.general-thumbnail-img{src: "https://d31wxntiwn0x96.cloudfront.net/rzgade/productimages/1276.jpg?width=400&height=400&etag=%22a2ebd1488b087bf0e6db43ee8bae0634%22", alt: "design-book"}
              .thumb-hover
                .general-thumb-link-wrap
                  %a.thumb-hover-link{href: "#"}
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  %a.thumb-hover-link{href: "#"}
                    %i.fa.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.title Android Programming for Beginners
            %p.font-16.in-gold-500 €28.50
            %span.divider-sm
            %p.lead.small Bass Jobsen, David Cochran, Ian Whitley
  