<p>Здравствуйте, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связываемся с Вами, чтобы сообщить, что ваш адрес электронной почты будет изменен на: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связываемся с Вами, чтобы сообщить, что ваш адрес электронной почты был изменен на: <%= @resource.email %>.</p>
<% end %>
