<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил смену пароля на сайте diy-plans.ru от вашего имени. Если это были Вы, то смело нажимайте ссылку ниже:</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы этого не делали, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, до тех пор пока вы не перейдете по данной ссылке или не запросите новую.</p>
